= search_form_for @q do |f|
	.row.mb-2
		.input-group
		  = f.search_field :name_or_description_or_ingredients_name_or_tags_name_cont, placeholder: "Search for a recipe!", class: "discover-search form-control"
