nav {
	a {
		text-decoration: none !important;
	}
	.navbar-brand{
		a {
			color: #e55934;
		}
	}
}
.nav-item{
	a {
		color: #233D4D;
		text-decoration: none !important;
	}
	a:hover{
		color: white;
	}
}
.happeacook-nav{
	background-color: #A1C181;
}



footer {
	height: 50px;
	margin-top: 15px;
	background-color: #A1C181;
}

.content{
	min-height: 87vh;
}

.w-100{
	width: 100%;
}
.w-90{
	width: 90%
}

.mar-top-15{
	margin-top: 15px;
}

.mar-right-10{
	margin-right: 10px;
}

.no-decoration{
	text-decoration: none;
}
