// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//show all recipes pages
.recipe_ingredients{
	margin-top: 10px;
	margin-bottom: 10px;
}

.recipe-box-container{

  border: 1px solid rgba(0,0,0,.15);
	height: 310px;
	color: black;
	a:hover {
	  color: green;
	}
}

.recipe-name{
	font-size: 20px;
}

.recipe-description{
	font-size: 12px;
	text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.recipe-creator-name{
	text-decoration: bold;
}

.recipe-link {
	margin-right: 5px;
}

//individual recipe pages
.recipe-page-container{
	margin-top: 25px;
}

.recipe-name-header{
	margin-bottom: 15px;
}

.nested-fields{
	padding: 15px;
  border: 2px solid rgba(0,0,0,.15);
  border-radius: 5px;
	margin-bottom: 10px;
}

.remove_fields{
	text-decoration: none;
	margin-left: 5px;
	color: black;
}
a.remove_fields:hover{
	color: #E55934 !important;
}

.recipe-info{
	font-size: 12px;
}

.recipe-pictures{
	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
}

.recipe-card-picture{
	img{
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
}
